* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#root {
  width: 100vw;
  height: 100vh;
}

.search-form {
  padding: 0.625rem;
}

.search-form__query {
  min-width: 200px;
}

.search-form input,
.search-form button {
  padding: 0.312rem;
}

.header {
  position: fixed;
  align-items: center;
  top: 0;
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
  padding: 1rem;
  box-sizing: border-box;
}
.header__info {
  font-size: 1rem;
  margin-left: 1rem;
  color: #333;
}
